textarea
{
	width:500px;
	height:150px;
	border-color:#83c2ed;
}
input
{
	width:160px;
}
table
{	
	border-radius:5px;
	border-collapse:collapse;
	border-color:#2a4dab;
	display:block;
	width:700px;	
}
.header
{
	border-top:5px;
	background-color:#397cd0;
	height:40px;
}

.grad
{
 background: linear-gradient(to bottom, #83c2ed 0%, #3369c1 63%);
}
div
{
	margin-left:10px;
}
label
{
	margin-left:10px;
	font-family:Arial;
}

img
{
	margin:0;	
	margin-left:10px;
}
td
{
	width:700px;
	border:solid #2a4dab;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
}

p{
	margin-left:10px;
	margin-bottom:0;
	font-size:32;
}

button
{
	width:80px;
	height:25px;
	border-radius:4px;
	border-color:#3369c1;
	padding:5px;
	margin:1px;
}
select
{
	border-radius:3px;
}
h3{margin:0;}
.group{border: 1px solid #b1a89e; width:250px;}
.butt{
	margin-top:20px;
	margin-bottom:5px;
	border:2px solid #b1a89e;
	color:#0384b7;
	padding:0;
	width:100px;
}
.primer{
	font-size:20px;
	color:white;
	}